h1 {
    font-size: 2rem;
    color: antiquewhite;
    .title {
        width: 90vw;
    }
}

mat-icon {
    color: antiquewhite;   
}

mat-toolbar{
    background-color: rgba(0, 0, 0, 0.185);
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-right: 50px;
}

