<div class="container">
    <!-- heading text -->
    <ul class="image-gallery">
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/c/cb/The_Blue_Marble_%28remastered%29.jpg" alt="" />
        <div class="overlay"><span>Earth</span></div>
      </li>
      <li>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Mercury_in_color_-_Prockter07-edit1.jpg/1200px-Mercury_in_color_-_Prockter07-edit1.jpg" alt="" />
        <div class="overlay"><span>Moon</span></div>
      </li>
      <li>
        <img src="https://media.wired.com/photos/5d04045bde1abfe4e801d054/1:1/w_1132,h_1132,c_limit/Science-Neptune-FA-PIA01492_orig.jpg" alt="" />
        <div class="overlay"><span>Uranus</span></div>
      </li>
      <li>
        <img src="https://images.theconversation.com/files/452922/original/file-20220317-13-1u6oyiu.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1200&h=1200.0&fit=crop" alt="" />
        <div class="overlay"><span>Pluton</span></div>
      </li>
      <!-- other items here -->
    </ul>
  </div>